{% macro menuItemClasses( item, post) %}
    menu-item 
    {{ item.object_id == post.id ? 'current-page' }}
    {{ item.subMenu ? 'menu-item-has-children' }}
    {% for subItem in item.subMenu %}
        {{ subItem.object_id == post.id ? 'current-menu-parent' }}
    {% endfor %}
    {{ item.classes|join }}
{% endmacro %}

{% macro menuItem( item, post ) %}
    <li class="{{ _self.menuItemClasses( item, post ) }}">
		<a href="{{ item.url }}">
			<i class="{{ item.icon_class }}"></i>
			{{ item.title }}
		</a>
        {% if item.subMenu %}
            <ul class="sub-menu">
                {% for menuItem in item.subMenu %}
                    {{ _self.menuItem( menuItem, post ) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

<header class="site-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-auto">
				<a href="{{ site.url }}" class="site-logo">
					{% if logo %}
						<img src="{{ logo[0] }}" alt="{{ site.title }}" />
					{% else %}
						<h1>{{ site.title }}</h1>
					{% endif %}
				</a> 
			</div>
			<div class="col">  
				<div class="site-search">
					<form>
						<input type="text" name="s" placeholder="Search Events" />
					</form>
				</div>
			</div>
			<div class="col">
				{% if menu|length > 0 %}
					<nav class="site-menu-wrapper">
						<ul class="menu site-menu">
							{% for menuItem in menu %}
								{{ _self.menuItem( menuItem, post ) }}
							{% endfor %}
						</ul>
					</nav>
				{% endif %}
			</div>
		</div>
	</div>
</header>