{% if post.slides|length > 0 %}
	<div class="slider">
		{% for slide in post.get_field('slides') %}
			<div class="slide"> {# slick will inject classes into this div #}
				<div class="slide-background" style="background-image: url('{{ TimberImage(slide.background).src }}');"></div>
				{% if slide.link %}
					<a class="slide-link" href="{{ slide.link }}"></a>
				{% endif %}
				<div class="slide-content-wrapper">
					<div class="slide-content">
						{{ slide.content }}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}

</section>

<section class="steps" {# data-parallax="scroll" data-image-src="{{ TimberImage(post.get_field('steps_background')).src }}" data-speed="0.85" #} style="background-image: url('{{ TimberImage(post.get_field('steps_background')).src }}');">
	<div class="container">
		<h2 class="section-title">{{ post.steps_title }}</h2>
		<div class="section-content">
			<div class="steps-images">
				<div class="row">
					<div class="col-3">
						<img src="{{ TimberImage(post.get_field('step_1_image')).src }}" alt="">
					</div>
					<div class="col-3">
						<img src="{{ TimberImage(post.get_field('step_2_image')).src }}" alt="">
					</div>
					<div class="col-3">
						<img src="{{ TimberImage(post.get_field('step_3_image')).src }}" alt="">
					</div>
					<div class="col-3">
						<img src="{{ TimberImage(post.get_field('step_4_image')).src }}" alt="">
					</div>
				</div>
			</div>
			<div class="steps-text">
				<div class="row">
					<div class="col-6 col-md-3">
						<h5>Step 1</h5>
						<h6>{{ post.step_1_description }}</h6>
					</div>
					<div class="col-6 col-md-3">
						<h5>Step 2</h5>
						<h6>{{ post.step_2_description }}</h6>
					</div>
					<div class="col-6 col-md-3">
						<h5>Step 3</h5>
						<h6>{{ post.step_3_description }}</h6>
					</div>
					<div class="col-6 col-md-3">
						<h5>Step 4</h5>
						<h6>{{ post.step_4_description }}</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="upcoming-events">
	<div class="container">
		<div class="row">
		{% for event in events %}
			<div class="col-md-6 col-lg-4">
				{% include 'components/_event-card.twig' %}
			</div>
		{% endfor %}
		</div>
	</div>
</section>